.menu-item {
  position: relative;
  margin-top: 20px;
}

.menu-item a:visited,
.menu-item a:link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--headings-color);
  text-decoration: none;
}

.menu-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 3px;
  background: var(--asset-color-blue);
  transition: width 0.3s;
  position: absolute;
  bottom: -20px;
  border-radius: 3px;
}

.menu-item:hover::after {
  width: calc(100% - 20px);
  transition: width 0.3s;
}
