:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: #fafafa;
  --bg-color-v2: #fff;
  --headings-color: #212939;
  --desc: #939393;
  --asset-color-blue: #2b5dff;
  --asset-color-green: #00c48c;
  --asset-color-red: #ff4d4f;
  --grey-dark: #585858;
  --skeleton-color: #e1e1e1;
  --skeleton-color-v2: #d1d1d1;
}

html,
[data-theme="dark"] {
  --bg-color: #2a3343;
  --bg-color-v2: #212939;
  --headings-color: #fff;
  --desc: #939393;
  --asset-color-blue: #2b5dff;
  --asset-color-green: #00c48c;
  --asset-color-red: #ff4d4f;
  --grey-dark: #c7c7c7;
  --skeleton-color: #2c3546;
  --skeleton-color-v2: #212939;
}
/* 
body {
  background-color: var(--bg-color) !important;
  color: var(--desc);
  margin: 0;
  padding: 0;
  margin: 0;
  background-color: pink !important;
} */
